<%- include('headerC.ejs'); %>

<main>
    <section class="upd-screen">
        <div class="left">
            <img src="<%= book.caminhoCapa %>" alt="capa do Livro">
        </div>
        <div class="right">
            <form class="upd-form">

            <label class="upd-label" for="titulo">
                <strong>Título</strong>
            <input class="upd-input" type="text" name="titulo" id="titulo" value="<%= book.titulo %>">
            </label>

            <label class="upd-label" for="autor">
                <strong>Autor</strong>
                <input class="upd-input" type="text" name="autor" id="autor" value="<%= book.autor %>">
            </label>

            <label class="upd-label" for="descricao">
                <strong>Sinopse</strong>
                <textarea class="upd-input" name="descricao" id="descricao" rows="10" cols="50"><%= book.descricao %></textarea>
            </label>
            </form>
        </div>
    </section>
</main>

<%- include('footer.ejs'); %>